<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Question:{{ question.question_text }}</h2>
<h3>Asked by: {{ question.author.username }} at {{ question.pub_date }}</h3>
<form method=POST action="{% url 'polls:answer_question' question.id %}" method=post>
    {% csrf_token %}
    What is your answer?: <input type=text name=answer_text>
    <input type=submit name=Submit value=Submit><input type=submit name=Cancel value=Cancel>
</form>

</body>
</html>
