
{% extends "base.html" %}
{% load smarturlize %}

{% block content %}
<a href="{% url 'polls:edit_question_page' question.id %}"><h2>Question:{{ question.question_text | smarturlize }}</h2></a>
    <p class="pull-left">

        {% for tag in question.tags.all %}
            <span class="label label-success"><a href="{% url 'polls:tag_handler' tag.id %}">{{ tag }}</a></span>
        {% endfor %}
        {#                   <span class="label label-default">tag</span> <span class="label label-default">post</span></p>#}
    </p>
    <br>
    <br>
    <p class="pull-left">
        <a href="{% url 'polls:rss' question.id %}"> feed</a>
    </p>
{#    <div class="pull-left">#}
{#       <a class="pull-left" href="{% url 'polls:rss' question.id %}"><p>feed</p> </a>#}
{#    </div>#}
    <br>
    <br>
<div>{{ question.question_text | smarturlize}}.</div>
<p>Author: {{ question.author.username }} at {{ question.pub_date }}</p>
<p>Created at: {{ question.pub_date }}</p>
<p>Last update at: {{ question.modification_time }}</p>
<div>Up votes: {{ question.up_votes }}</div>
<div>Down votes: {{ question.down_votes }}</div>

{#{% for tag in taglist %}#}
{#    <p>{{ tag }}</p>#}
{#{% endfor %}#}
{#<br>#}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
<input type="submit" name="VoteUpQuestion" value="Good question" />
<input type="submit" name="VoteDownQuestion" value="Boring question">
</form>

<h3> Select an answer first, then click agree or disagree </h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for answer in answers %}
    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
    <label for="answer{{ forloop.counter }}">Answer: <a href="{% url 'polls:edit_answer_page' question.id answer.id %}">{{ answer.answer_text }}.</a></label><br />
    <div>Author: {{ answer.author.username }} </div>
    <div>Created at: {{ answer.pub_date }} </div>
    <div>Last updated at: {{ answer.modification_time }}</div>
    <div>Up votes: {{ answer.up_votes }}</div>
    <div>Down votes: {{ answer.down_votes }}</div>
    <div>Net positive votes: {{ answer.net_votes }} </div>
    <div>{{ answer.answer_text | smarturlize}}.</div>


{% endfor %}
    <input type="submit" name="VoteUp" value="Agree" />
    <input type="submit" name="VoteDown" value="Disagree"> <br>
</form>
<br>

<br>
<h2>You have better ideas? We need your wisdom!</h2>
<h3> <a href="{% url 'polls:answer' question.id %}">Give your answer </a> </h3>
{% endblock %}
