<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="{% url 'polls:index' %}">home page</a>
{% if can_edit %}
<p>You can edit your question here</p>
<form method=POST action="{% url 'polls:edit_question' question.id %}" method=post>
    {% csrf_token %}
    <p>Modify titile?:</p> <br>
    <input type="text" name="question_title" value="{{ question.question_title }}" >
    <br>
    <br>
    <p>Modify content?:</p> <br>
    <textarea type=text name=question_text rows="20" cols="80"> {{ question.question_text }} </textarea> <br>
    <input type=submit name=Submit value=Submit><input type=submit name=Cancel value=Cancel>
</form>
{% else %}
    <p> <font color="red">This question is created by {{ question.author }}, you can only view it</font> </p>
    <p> Question is: </p>
    <p>{{ question.question_text }}</p>
{% endif %}
<p>Creation time: {{ question.pub_date }}</p>
<p>Last updated at: {{ question.modification_time }}</p>

</body>
</html>