{% extends "base.html" %}

{% block content %}

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>  Question list
                </h1>
            </div>
        </div>
    </div><!-- /cont -->

</div>
{% if latest_question_list %}

    <ul>
    {% for question in latest_question_list %}
            <div class="row">
            <br>
{#            <div class="col-md-2 col-sm-3 text-center">#}
{#              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>#}
{#            </div>#}
            <div class="col-md-10 col-sm-9">
              <li><h3>Question: {{ question.question_text | truncatechars:500  }}.</h3></li>
              <div class="row">
                <div class="col-xs-9">
                  <p> Author: {{ question.author.username }} </p>
                    <br>
                      <p>Created at: {{ question.pub_date }}</p>
                      <p>Last updated at: {{ question.modification_time }}</p>
                  <p class="lead"><button class="btn btn-default"><a href="{% url 'polls:detail' question.id %}">Read more</a></button></p>
                  <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                  <ul class="list-inline">
                  <li><a href="#">  </a> {{ question.number_of_answers }} answers now </li>
                  <li><a href="#"><i class="glyphicon glyphicon-comment"></i></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-share"></i></a></li>
                  </ul>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

    {% endfor %}
    </ul>


{% else %}
    <p>No questions are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if latest_question_list.has_previous %}
            <a href="?page={{ latest_question_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}.
        </span>

        {% if latest_question_list.has_next %}
            <a href="?page={{ latest_question_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

