body {
	text-align: center;
}

#page {
	width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #0c0c0c;
}

#sidebar {
	float: left;
	width: 200px;
	border: 1px solid #000;
}

#content {
	float: left;
	width: 600px;
	border: 1px solid #f00;
	padding: 10px;
	line-height: 36px;
}

label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.helptext {
	float: left;
	width: 100%;
}

.clearfix {
	clear: both;
}

