<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if username %}
       <a href="" class="navbar-brand">Hello, {{ username }} !!!.</a>
      {% else %}
      <a href="" class="navbar-brand">Hello, anonymous user</a>
      {% endif %} 
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'polls:index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'polls:ask' %}">Ask questions </a>
        </li>
        <li>
          <a href="{% url 'authentication:login' %}">Log in</a>

        </li>
        <li>
          <a href="{% url 'authentication:logout' %}">Log out </a> 
        </li>
        <li>
          <a href="{% url 'authentication:register_user' %}">Register </a> 
        </li>
        <li>
          <a href="/admin/">Upload photos</a>
        </li>
          <li>
              <a href="{% url 'photologue:pl-photo-archive' %}">Photos views</a>
          </li>
{#        <li>#}
{#            <a href="{% url 'photologue:photo-list' %}">List views</a>#}
{#        </li>#}
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<br>
<br>
<br>
<br>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">

     <div id="content">
        {% block content %}{% endblock %}
    </div>
        
          
        </div>
      </div>
                                                                                       
                                                  
                                                      
    </div><!--/col-12-->
  </div>
</div>



 
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
